
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div>
    <h2>下载excel-1</h2>
    @Html.ActionLink("点击下载", "DownLoad1")
</div>
<div>
    <h2>下载excel-2</h2>
    @Html.ActionLink("点击下载", "DownLoad2")
</div>

